<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/steve.css">
    <title>Apache STeVe</title>
</head>
<body>
    <div id="main_splash">
        <nav>
            <ul>
                <li><a href=".">Home</a></li>
                <li><a href="community.html">Community and Support</a></li>
                <li><a href="develop.html">Developer Information</a></li>
                <li><a href="documentation.html">Documentation</a></li>
                <li><a href="downloads.html">Downloads</a></li>
                <li><a href="asf.html">About Apache</a></li>
            </ul>
        </nav>
        <div id="contents">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt hendrerit ornare. Curabitur ac sem eget orci condimentum convallis vitae sed nisl. Nullam cursus luctus ipsum, et viverra leo interdum ac. Duis in ante efficitur, tincidunt sapien dictum, tempus risus. Ut et convallis ante. Donec sagittis congue nisl, ac maximus eros hendrerit at. In vulputate at ex et imperdiet. Morbi in ligula risus. Aliquam nec efficitur sem. Nam sodales maximus purus, nec blandit odio interdum quis.</p>

            <p>Ut eu interdum lorem, eu auctor lectus. Duis vitae imperdiet orci, ac condimentum neque. Nam sit amet hendrerit nisi. Sed ut tortor justo. Donec suscipit placerat dolor, in bibendum sem cursus eu. Aenean elementum dictum neque. Nam ullamcorper pretium nibh, imperdiet rhoncus odio aliquam in. Donec dapibus nulla nec lacinia scelerisque. Morbi non suscipit ipsum, id lobortis dolor. Sed pretium libero non tellus finibus tincidunt. Aenean ultricies lacus tortor, eget dictum est laoreet non. Fusce volutpat augue ut velit scelerisque, quis imperdiet erat viverra. Maecenas pretium scelerisque mi condimentum efficitur. Donec commodo dapibus lectus at rutrum. Donec sed ultrices tellus.</p>

            <p>Curabitur venenatis dui eget nunc fermentum placerat. Fusce semper turpis eu cursus vulputate. Duis non ex ut metus luctus porttitor quis eget magna. Mauris tristique pellentesque tortor, congue semper justo lacinia euismod. In luctus fermentum metus in posuere. Donec auctor ipsum vel tortor lobortis lobortis. Proin gravida purus mi, vel ornare nibh congue eu. Phasellus ipsum diam, vestibulum eget pharetra non, eleifend non sem.</p>
            <br/>
            <p style="text-align: center">
                <img src="images/tat.png" style="width: 250px; margin:0 auto;">
            </p>
        </div>
        <footer>
            Copyright&copy; 2013-2022 the Apache Software Foundation. Licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache License, Version 2.0</a> | <a href="https://privacy.apache.org/policies/privacy-policy-public.html">Privacy Policy</a><br>
            Apache STeVe, Apache, the Apache feather logo, and the Apache STeVe project logo are trademarks of The Apache Software Foundation.
            All other marks mentioned may be trademarks or registered trademarks of their respective owners.
        </footer>
    </div>
</body>
</html>
